*
!.gitignore
!.gitmodules
!.gitkeep

!LICENSE
!*.md

!CMakeLists.txt

!src/
!src/**/
!src/**.c
!src/**.cc
!src/**.cpp
!src/**.cxx
!include/
!include/**/
!include/**.h
!include/**.hh
!include/**.hpp
!include/**.hxx
