*
!/.gitignore

!/.clang-format
!/.clangd
!/.prettierrc
!/CMakeLists.txt
!/LICENSE
!/Makefile
!/README.md
!/*.sh

!/cmake/
!/cmake/*.cmake

!/include/
!/include/**/
!/include/**/*.h

!/module/
!/module/dkms.conf
!/module/Makefile
!/module/module.c
!/module/*.sh

!/src/
!/src/**/
!/src/**/CMakeLists.txt
!/src/**/*.c
!/src/**/*.h
